extends ../jade-bootstrap/_bootstrap
append head
  meta(name= 'description', content= '#{blog.blog_title}')
block body
  -var active='blog'
  include ../user/header
  .container
    .row.col-md-8
      if blog
        div#blog-detail
          include ../base/base-blog_detail
      else 
        p Empty blog
append styles
  link(rel='stylesheet' href= '/highlight/styles/default.css')
  link(rel= 'stylesheet' href= '/stylesheets/base/blogs-display.css')
  link(rel= 'stylesheet' href= '/stylesheets/user/blog-display.css')
append scripts
  script(type= 'text/javascript' src= '/highlight/highlight.pack.js')
  script(type='text/javascript' src='/showdown/showdown.min.js')
  script(type='text/javascript' src='/javascripts/base/blog-detail.js')
